<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../../partials/head"); %>
  </head>
  <body style="background-color: rgb(22, 22, 22)">
    <div class="container mt-5">
      <div class="row justify-content-center text-light">
        <div class="col-md-7">
          <h3 class="my-3">User Detail</h3>
          <% if (upd.length !== 0) { %>
          <div class="row justify-content-center">
            <div class="col-md-5 text-center">
              <div class="alert alert-success" role="alert"><%= upd %></div>
            </div>
          </div>
          <% } %>
          <div class="justify-content-between">
            <a class="btn btn-secondary" href="/users" role="button">
              <i class="bi-arrow-left"></i> Back to Users List
            </a>
            <a
              class="btn btn-primary"
              href="/user/<%= userOne.id %>/edit"
              role="button"
            >
              <i class="bi-pencil-fill"></i> Edit
            </a>
          </div>
          <div class="table-responsive mt-3">
            <table
              class="table table-bordered table-dark table-striped table-hover"
            >
              <tbody>
                <tr>
                  <th scope="row" style="width: 50%">id</th>
                  <td><%= userOne.id %></td>
                </tr>
                <tr>
                  <th scope="row">Username</th>
                  <td><%= userOne.username %></td>
                </tr>
                <tr>
                  <th scope="row">Password</th>
                  <td><%= userOne.password %></td>
                </tr>
              </tbody>
            </table>
          </div>
          <h5 class="my-3">Profile:</h5>
          <div class="table-responsive mt-3">
            <table
              class="table table-bordered table-dark table-striped table-hover"
            >
              <tbody>
                <tr>
                  <th scope="row" style="width: 50%">Name</th>
                  <td><%= userOne.profile.name %></td>
                </tr>
                <tr>
                  <th scope="row">Address</th>
                  <td><%= userOne.profile.address %></td>
                </tr>
                <tr>
                  <th scope="row">Date of Birth</th>
                  <td><%= userOne.profile.dateOfBirth %></td>
                </tr>
              </tbody>
            </table>
          </div>
          <h5 class="my-3">User History:</h5>
          <div class="table-responsive mt-3">
            <% userOne.history.slice().reverse().forEach((element, index) => {
            %>
            <table
              class="table table-bordered table-dark table-striped table-hover"
            >
              <tbody>
                <tr>
                  <th scope="row" style="width: 50%">Profile Updated At:</th>
                  <td><%= element.updatedAt %></td>
                </tr>
              </tbody>
            </table>
            <% }) %>
          </div>
        </div>
      </div>
    </div>

    <%- include("../../partials/script"); %>
  </body>
</html>
